#image-wrapper img
{

	width: auto;
	
}
#image-wrapper
{
	font-size: 0;
	white-space: nowrap;
	position: absolute;
	top: 0px;
	left: 0px;
}
#image-wrapper::after 
{
	content: "";
	clear: both;
	display: table;
  }
#image-slider
{
	position: relative;
	overflow: hidden;
	height: 600px;
	width: 1000px;
	margin: 0 auto;
}
#right-button
{
	position: absolute;
	top: 300px;
	left: 900px;
	overflow: auto;
	background-color: red;
}
#left-button
{
	position: absolute;
	top: 300px;
	left: 0px;
	overflow: auto;
	background-color: red;
}
#indicators
{
	position: absolute;
	top: 540px;
	left: 480px;
	overflow: auto;
}
