.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.container
{
    width: 1174px;
    margin: 0 auto;
}
/* header part */
.header-top
{
    height: 80px;
    background-color:#76c7c1;
    background-image: url(../images/header-bar.png);
    background-repeat: repeat-x;
    background-position: bottom left;
}
.header-top-left
{
    float: left;
}
.header-top-left img
{
    margin-top: 21px;
    margin-left: 10px;
}
.header-top-right
{
    float: right;
    margin-top:25px;
}
.header-top-right ul
{
    list-style: none;
    font-size: 16px;
}
.header-top-right a
{
    float: left;
}
.header-top-right li
{
    float: left;
    color:white;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 14px;
    padding-right: 18px;
    margin-right: 5px;
} 
.header-top-right li:hover
{
    background-color: #61a29e;
}
.header-bottom
{
    height: 80px;
    background-color: #ececec;
}
.header-bottom-left
{
    float: left;
}
.header-bottom-left h1
{
    font-size: 24px;
    margin-top:35px;
    margin-left:10px;
    color: #808684;
}
.header-bottom-right
{
    float:right;
}
.header-bottom-right h1
{
    padding-right: 4px;
    margin-top: 37px;
    font-size: 18px;
    font-weight: 300;
    color: #808684;
}

/*header part end*/
/*body part*/
.body-top
{
    background-color: #f3f3f3 ;
}
.body-top-column
{
    padding-top: 70px;
    padding-bottom: 70px;
}
.body-top-description h1
{
    margin-top: 36px;
    margin-left: 6px;
    font-size: 38px;
    font-weight: 300;
    color:#fd4e5b;
}
.body-top-description p
{
    margin-top:28px;
    font-size:18px;
    font-weight: 100;
    color:#878d8d;
}
.heading-and-list
{
    width: 306px;
}
.heading-and-list h2
{
    font-size:21px;
    font-weight: 700;
    color: #7c908e;
}
.heading-and-list ul
{
    padding-top: 35px;
    list-style-type: none;
}
.heading-and-list ul li
{
    color: #7b7b7b;
    line-height: 26px;
}
.bullet
{
    padding-top: 2px;
    padding-right: 4px;
}
.meter-box 
{
    width: 590px;
}
.meter-box p
{
    color: #7b7b7b;
}
.text-bubble
{
    width: 278px;
}
.text-bubble-top h2
{
    font-size: 24px;
    font-weight: 700;
    color: #828e8c;
}
.text-bubble-middle
{
    padding: 18px;
    background-color: #f8f8f8;
}
.text-bubble-middle p
{
    color: #757575;
    font-size: 18px;
    font-weight: 100;
    font-style: oblique;
}
.text-bubble-bottom
{
    padding-left:10px;
}
.text-bubble-bottom img
{
    float: left;
}
.text-bubble-bottom h3
{
    float:left;
    color: #757575;
    font-size: 22px;
    font-weight: 300;
}
.body-middle
{
    background-image: url(../images/background-our-team.png);
    background-repeat: repeat-x;   
}
.body-middle-top 
{
    padding-top: 70px;
    padding-bottom: 76px;
}
.body-middle-top h1
{
        text-align: center;
        color: #808c8c;
        font-size: 42px;
        font-weight: 400;     
}
.hover-menu
{
    background-image: url(../images/no-image.png);
    background-repeat: no-repeat;
    height: 316px;
    width: 270px;
    position: relative;
}
.hover-menu-inner
{
    display: none;
    background-color: #90d1cb;
    background-image: url(../images/hover-panel.png);
    height: 316px;
    width: 270px;
}
.hover-menu-inner p
{
    color:#edffff;
    font-style: italic;
    line-height: 24px;
    font-size: 14px;
    padding: 38px;
}
.hover-menu:hover .hover-menu-inner 
{
    display: block;
}
.social-button-group
{
    padding-left: 38px;
}
.social-button-group a
{
    margin-right: 8px;
}
.hover-menu-button
{
    background-color: #757575;
    height: 70px;
    width: 60px;
    position: absolute;
    bottom: -10px;
    left: 4px;
}
/*body part end*/
/*footer part*/

/*footer part end */
/*layout part*/
.col2-left
{
    float: left;
}
.col2-right
{
    float: right;
}