.container-outer
{
    margin:0 auto;
    width: 980px;
}
.header-top
{
    padding-top: 26px;
    width: 980px;
    height: 36px;
}
.brand-logo
{
    width: 338px;
    display: inline-block;
}
/*header login part*/
.header-middle
{
    width: auto;
    height: 71px;
    background-image: url(../images/header-middle-dot.png);
    background-repeat: repeat-x;
}
.header-login-form
{
    padding: 20px 0px;
}
.user-menu
{
    width: 638px;
    display: inline-block;
    margin-left: auto;
}

.navbar
{
    height: 56px;
}
.navbar-search
{
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    display: inline-block;
}
.carousel-background
{
    background-image: url(../images/slide-background.png);
    background-repeat: repeat-x;
    min-width: 980px;
}
.carousel
{
    margin: 0 auto;
    min-width: 980px;
    max-width: 1440px;
}
.slide img
{
    margin: 0 auto;
    width: 100%;
}
