header
{
    min-width: 980px;
    background-image: url(../images/header-background.png);
}
.logo
{
    font-size: 25px;
    font-family: "Montserrat Subrayada";
    color: rgb(204, 0, 62);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.575;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004); 
    height: 18px;
    width: 137px;    
    display: inline-block;
}
.side-logo
{
    height: 14px;
    width: 179px;
    margin-left: 17px;
    font-size: 13px;
    font-family: "Source Sans Pro";
    color: rgb(204, 0, 62);
    line-height: 1.026;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004); 
    display: inline-block;
}
.user-menu ul
{
    list-style: none;
    float: right;
}
.user-menu li
{
    float: left;
    padding-right: 16px;
}
.user-menu-item
{
    text-align: center;
}
.user-menu-item img
{
    display: inline-block;
}
.user-menu-item p
{
    font-size: 12px;
    font-family: "Arial";
    color: rgb(51, 51, 51);
    line-height: 1.197;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}
.user-menu-item-dropdown p
{
    color: red;
        font-size: 12px;
        font-family: "Arial";
        color: rgb(204, 0, 62);
        line-height: 1.197;
        text-align: center;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

/*header login part*/
.header-login-form
{
    text-align: center;
}
.header-login-form label
{
    font-size: 12px;
    font-family: "Arial";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004); 
}
.header-login-form .input-box
{
    display: inline-block;
    height: 30px;
    width: 170px;
    margin: 0px 6px;
    border: 1px #d4d4d4 solid;
    background-color: #ffffff;
}
.input-box input[type="password"] 
{ 
    text-align: left;
    width: 66%;
    display: inline-block;
}
.input-box a
{
    display: inline;
    font-size: 12px;
    font-family: "Arial";
    color: rgb(204, 0, 62);
    line-height: 1.197;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);   
}
.red-button
{
    background-color: red;
    display: inline-block;
    height: 30px;
    width: 170px;
}
.navbar-menu
{
    width: auto;
}
.navbar-menu li
{
    list-style: none;
    float: left;
    margin: 19px 36px 19px 0px ;
}
.navbar-menu li a
{
        font-size: 22px;
        font-family: "Source Sans Pro";
        color: rgb(51, 51, 51);
        line-height: 0.653;
        text-align: left;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
        text-decoration: none;
}
section
{
    min-width: 980px;
}
/* carousel section */
.slide-heading h1
{
    font-size: 40px;
    font-weight: 100;
    font-family: "Source Sans Pro";
    color: rgb(255, 255, 255);
    text-align: left;  
    line-height: 0.359;    
}
.slide-description p
{
    font-size: 12px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    line-height: 1.667;
    text-align: left;
    width: 527px;
}
.dot
{
    border: 2px solid red;
    border-radius: 100%;
    height: 22px;
    width: 22px;
    text-align: center;
    left: 20px;
    background-color: #ffffff;
    display: inline-block;
}
.dot h1
{
    font-size: 14px;
    font-family: "Source Sans Pro";
    color: rgb(204, 0, 62);
    line-height: 1.429;
}
section
{
    background-image: url(../images/mid-background.png);
}
.welcome-image
{
    width:453px;
    height: 222px;
    padding: 30px 48px;
    display: inline-block;
}
.welcome-message
{
    width: 424px;
    display: inline-block;
    text-align: center;
    padding-top:85px;
    vertical-align: top;
}
.welcome-message h1
{
    font-size: 19.415px;
    font-family: "Source Sans Pro";
    font-weight: 100;
    color: #cc003e;
    line-height: 0.884;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}
.welcome-message h1 img
{
    display: inline-block;
    padding-top: 4px;
}
.welcome-message h2
{
    font-size: 14px;
    font-family: "Arial";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004); 
    padding-top: 20px;
}
.welcome-message p
{
    font-size: 14px;
    font-family: "Arial";
    color: rgb(0, 0, 0);
    line-height: 1.5;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004); 
}
.featured-item-heading h1
{
        font-size: 24px;
        font-family: "Source Sans Pro";
        font-weight: 100;
        color: rgb(51, 51, 51);
        line-height: 0.599;
        text-align: left;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
        display: inline-block;
}
.featured-view-more
{
    margin-left: auto;
    margin-right: 0px;
    text-align: right;
    float: right;
}
.featured-view-more a
{
    text-decoration: none;
}
.featured-view-more img
{
    display: inline-block;
}
.featured-view-more h2
{
    display: inline;
    font-size: 12px;
    font-family: "Arial";
    color: rgb(51, 51, 51);
    line-height: 1.197;
    text-align: left;
}
.featured-item-card p
{
        font-size: 15px;
        font-family: "Source Sans Pro";
        color: rgb(51, 51, 51);
        line-height: 0.958;
        text-align: center;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004); 
        padding-top: 14px; 
}
.featured-item-card h1
{
        font-size: 22px;
        font-family: "Source Sans Pro";
        font-weight: 300;
        color: rgb(204, 0, 62);
        line-height: 0.653;
        text-align: center;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);  
        padding-top: 10px;

}
.special-offer-heading h1
{
        font-size: 24px;
        font-family: "Source Sans Pro";
        color: rgb(51, 51, 51);
        line-height: 0.599;
        text-align: left;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
        font-weight: 100; 
        padding-top: 15px;
}
.navigation-header h1
{
        font-size: 24px;
        font-family: "Source Sans Pro";
        font-weight: 100;
        color: rgb(226, 226, 226);
        line-height: 0.599;
        text-align: left;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.footer-navigation ul
{
    padding-top: 32px;
    list-style-position: inside;
    list-style-image: url(../images/list-red-dot.png);

}
.footer-navigation li a
{
    font-size: 12px;
        font-family: "Arial";
        color: rgb(226, 226, 226);
        line-height: 1.917;
        text-align: left;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
        text-decoration: none;

}
.latest-tweets ul
{
    padding-top: 32px; 
}
.latest-tweets li
{
        background-image: url(../images/tweet-blue.png); 
        background-repeat: no-repeat;
        padding-left: 35px;
        list-style-type: none;
}
.latest-tweets p
{
    font-size: 12px;
        font-family: "Arial";
        color: rgb(226, 226, 226);
        line-height: 1.667;
        text-align: left;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.latest-tweets li a
{
    color: #d52d5e;
    text-decoration: none;
}
.footer-newsletter p
{
   
    font-size: 12px;
    font-family: "Arial";
    color: rgb(226, 226, 226);
    line-height: 1.667;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.email-box
{
    background-color: #ffffff;
    margin-top: 24px;
    padding: 8px 8px;
  
}
.email-box form input
{
    display: inline-block;
    width: 70%;
}

