.responsive-image
{
    width:100%;
    height:auto;
}
.container-outer
{
    max-width: 20.125em;
    margin-left: auto;
    margin-right: auto;
}
.clearfix
{
    overflow: auto;
}
.navbar
{
    background-color: #76c7c1;
    padding-left: 1.25rem;
    width: 100%;
    overflow: auto;
}
.header-top
{
    width: 100%;
    overflow: auto;  
}
.column-three
{
    width: 30%;
}
.header
{
    background-color: #ececec;
}
.features
{
    max-width: 100%;

}
.features h1
{
    font-size: 18px;
    font-weight: 200;
    color:#7d8c89;
    float: left;
}
.features h2
{
    font-size: 16px;
    font-weight: 200;
    color: #7d8c89;
    float: right;
}
.carousel
{
    max-height: 300px;
}

@media only screen and (min-width: 768px) {
    /* For tablets: */
    .container-outer
    {
        max-width: 42.9375em;
    }

  }
  @media only screen and (min-width: 800px) {
    /* For desktop: */
    .container-outer
    {
        max-width: 73.125em;
    }
    .carousel
    {
        max-height: 800px;
    }
  }