.responsive-image
{
    max-width:100%;
    height:auto;
}
.container-outer
{
    margin: 0 auto;
    min-width: 73.1875em;  
    padding: 2% 8%;
}
.header-top
{
    width: 100%;
    height: 80px;
    overflow: auto;
    background-color: #76c7c1;
}
.column-three
{
    width: 30%;
}
@media only screen and (min-width: 768px) {
    /* For tablets: */
    .third
    {
        width: 80%;
    }
  }
  @media only screen and (min-width: 800px) {
    /* For desktop: */
    .third{
        width: 40%;
    }
  }