#screen
{
    margin: 0 auto;
    height: 600px;
    width: 450px;
    top: 0;
    left: 0;
    border:1px solid green;
    overflow: hidden;
}
.opponent
{
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    left: 0;
}
.player
{
    position: absolute;
    top: 0;
    left: 0;
    transition-property: left;
    transition-duration: 0.2s;
}
.button
{
    height: 40px;
    width: 40px;
}
